
-- Talking Module --
Phrase: A line of text;
Admin: Some special user;

US-ADM0 - As an Admin, I want to create a new phrase, so it can be used by the bot;
US-ADM1 - As an Admin, I want to update an existing phrase, so it can be used by the bot;
US-ADM2 - As an Admin, I want to delete an existing phrase, so it can be used by the bot;
US-ADM3 - As an Admin, I want the bot to only accept changes to the Phrares in a specific channel, so it is used only by admins;
US-ADM4 - As an Admin, I want Phrases to be unique, so no duplicates are created;
1
US-USR0 - As a User, I want the Bot to responde when mentioned, so it can be shown in the chat;
US-USR1 - As a User, I want the Bot to responde in any channel, so it can be shown in any chat;
US-USR2 - As a User, I want Phrares to be keept persistently, so it can be used by the bot;
