
-- Talking Module --
Phrase: A line of text;
Admin: Some special user;

X_US-ADM0 - As an Admin, I want to create a new phrase, so it can be used by the bot;
X_US-ADM1 - As an Admin, I want to update an existing phrase, so it can be used by the bot;
X_US-ADM2 - As an Admin, I want to delete an existing phrase, so it can be used by the bot;
O_US-ADM3 - As an Admin, I want the bot to only accept changes to the Phrares in a specific channel, so it is used only by admins;
O_US-ADM4 - As an Admin, I want Phrases to be unique, so no duplicates are created;
O_US-ADM5 - As an Admin, I want to see a list of all available phrases, so I can see each of their unique IDs;

O_US-USR0 - As a User, I want the Bot to responde with a random phrase when mentioned, so it can be shown in the chat;
O_US-USR1 - As a User, I want the Bot to responde in any channel, so it can be shown in any chat;
O_US-USR2 - As a User, I want Phrases to be keept persistently, so it can be used by the bot;
